page-article {
    .text {
        font-size: 1.3em
    }
    .shareButton {
        padding-right: 5px;
        font-size: 170%;
    }
    .likeButton {
        padding-right: 5px;
        font-size: 170%;
    }

    .disButton {
        padding-right: 5px;
        font-size: 170%;
    }
}
