page-feed {
    .listItem {

	}

	.title {
		white-space: pre-wrap;
	}

	.image {
		height: 50px;
		width: 50px;
	}
	.source {
		font-size: 11px;
		text-align: end;
	}
	
	.shareButton {
		width: 80px;
	}

	.disButton {
		width: 80px;
	}
	.likeButton {
		width: 80px;
	}
}
