page-feed {
    .listItem {
		padding: 5px;
	}

	.title {
		white-space: pre-wrap;
	}

	.image {
		height: 50px;
		width: 50px;
	}
	.source {
		font-size: 11px;
		text-align: end;
	}

	.disButton {
	}
}
