<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Новости</ion-title>
    <ion-buttons end>
    <button ion-button icon-only (click)="account()">
    <ion-icon name="person"></ion-icon>
  </button>
</ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Потяните для обновления"
        refreshingSpinner="circles"
        refreshingText="Обновление...">
      </ion-refresher-content>
    </ion-refresher>
  
    <div *ngIf="post_error == '0'">
        <ion-list>
          <ion-item-sliding #item *ngFor="let post of postlists" class="listItem">
            <ion-item (click)="articleOpen(post.Id)">
              <ion-avatar item-start>
                <img class="image" src="{{ post.TopImage }}">
              </ion-avatar>
              <p class="source">{{ post.Source }}</p>
              <h2 class="title">{{ post.Title }}</h2>
              <p>{{ post.Text }}</p>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="lightred" class="disButton" (click)="dislike(post.Id, item)">
                  <ion-icon name="close-circle-outline"></ion-icon>
              </button>
            </ion-item-options>
        
            <ion-item-options side="right">
              <button ion-button color="success" class="shareButton" (click)="share(post.Link, item)">
                <ion-icon ios="ios-share-outline" md="md-share"></ion-icon>
              </button>

              <button ion-button color="lightgreen" class="likeButton" (click)="like(post.Id, item)">
                  <ion-icon ios="ios-heart-outline" md="md-heart"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </div>
    
    <div *ngIf="post_error == '1'" style="text-align: center">
      <ion-label>Ошибка при получении данных</ion-label>
      <button ion-button (click)="loadData(0)" color="clmain" icon-left>
      <ion-icon name="refresh"></ion-icon>
      Обновить
      </button>
    </div>
    
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Загрузка данных...">	
    </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-content>