page-welcome {
    #welcome{
        background: color($colors, main);
        font-family: Helvetica;
        h1{
            font-size: 70px;
            font-family: Helvetica;
        }
        .textMarging{
            height: 75%;
            justify-content: center;
        }
    }
}


